<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <title>Pokes</title>
</head>

<body>
  <div class="container col-6">
    <p>
      <a class="btn btn-primary btn-sm" href="/logout" role="button">Logout</a>
    </p>
    <br>
    <h3>Hello, {{request.session.alias}}</h3>
    <h5>... people poked you!</h5>


    <p>{{pokes.id}} poked you {{pokes.pokes}} times.</p>



    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Alias</th>
          <th scope="col">Email Address</th>
          <th scope="col">Poke History</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.name}}</td>
          <td>{{user.alias}}</td>
          <td>{{user.email}}</td>
          <td>{{user.pokes}}</td>
          <td>
            <div class="form-group">
              <a class="btn btn-primary btn-sm" href="/poke/{{user.id}}" role="button">Poke</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>





  </div>
  <!--container close tag-->

</body>

</html>